<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form id="crawlerForm">

		<p:commandLink value="Settings" onclick="PF('setting').show()" type="button" />

		<p:dialog id="setting" widgetVar="setting" modal="true">
			<p:panelGrid columns="2">
				<p:outputLabel value="Max OF Fetched Pages" />
				<p:inputText value="#{crawlerMB.configParamter.pagesToFetch}" />

				<p:outputLabel value="Depth OF Crawling" />
				<p:inputText value="#{crawlerMB.configParamter.depth}" />

				<p:outputLabel value="Number OF Crawlers" />
				<p:inputText value="#{crawlerMB.configParamter.numberOfCrawler}" />
			</p:panelGrid>
		</p:dialog>

		<div style="text-align: center;">
			<p:inputText value="#{crawlerMB.target}" size="50" id="targ" />
			<p:commandButton id="search" value="Search" process="@this,targ" update="collect1,collect2,numpages1,numpages2" action="#{crawlerMB.search()}" />
		</div>
		<br />

		<p:outputLabel value="Pages : " />
		<p:outputLabel value="#{crawlerMB.top.size()}" id="numpages1" />

		<p:dataTable id="collect1" value="#{crawlerMB.top}" var="link">
			<p:column headerText="Top Hierarchy Links">
				<p:outputLabel value="#{link.url}" />
			</p:column>
		</p:dataTable>


		<br />
		<br />
		<br />
		<p:outputLabel value="Pages : " />
		<p:outputLabel value="#{crawlerMB.allPages.size()}" id="numpages2" />

		<p:dataTable id="collect2" value="#{crawlerMB.allPages}" var="link">
			<p:column headerText=" All Pages of Website">
				<p:outputLabel value="#{link.url}" />
			</p:column>
		</p:dataTable>


		<p:blockUI trigger="search" block="crawlerForm">
			<p:graphicImage library="images" name="ajax-loader.gif" />
		</p:blockUI>

	</h:form>
</body>
</html>
